<% include partials/header.ejs %>

    <body>
        <div class="header">
            <div class="header-inner">
                <h1><span>#</span><span>PHVote</span>Duterte</h1>
                <p class="lead">Change is Coming</p>
            </div>
        </div>
        <div class="content">
            <% include partials/info.ejs %>
                <div class="wrapper container-fluid">
                    <% include partials/panels.ejs %>
                </div>
        </div>

        <% include partials/footer.ejs %>
    </body>

    </html>
