<p class="footer">Made for free by Duterte Supporters #PHVoteDuterte</p>
<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/lib/fabric.js/dist/fabric.js"></script>
<script src="/js/app.bundle.min.js"></script>
